@model IEnumerable<ComplainBox.Models.Appointment>

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Appointment</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccount.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccount.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @if (item.Status != "Accepted" && item.Status != "Rejected")
                    {
                        <a asp-action="Accept" asp-route-id="@item.AppointmentId" class="btn btn-success">Accept</a>

                        <a asp-action="Reject" asp-route-id="@item.AppointmentId" class="btn btn-warning">Reject</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
