@model IEnumerable<ComplainBox.Models.Complain>

@{
    ViewData["Title"] = "Approved";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Approved Complains</h3>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplainDescription)
            </th>
            <th>
                Complainer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplainDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccount.Name)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ComplainId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
