@model IEnumerable<ComplainBox.Models.Note>

@{
    ViewData["Title"] = "Notes";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h3>Notes</h3>
<hr />
<p>
    <a asp-action="Create2">Create Note</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteDescription)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteDescription)
                </td>

                <td>
                    <a asp-action="Delete2" asp-route-id="@item.NoteId" onclick="return confirm('Are sure wants to delete?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
